@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: "Neue Montreal-Regular";
    src: url(./fonts/NeueMontreal-Regular.otf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --body-color: #f9f9f9;
    --font-family: "Josefin Sans", serif;
    --body-font-family: "Neue Montreal-Regular", serif;
    --color-font-gray: rgb(49, 49, 49);
    --color-body-green: #407775;
    --color-body-lightgreen: #6f7f6c;
    --color-body-orange: #ec6e40;
    --color-body-yellow: #ffba52;
}

html {
    scroll-behavior: smooth;
}

/* INDEX */

#container-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90vh 900px 170px;
    height: 100vh;

    grid-template-areas: 
        "navi-bar"
        "about" 
        "footer"
    ;
}

.navi-bar {
    grid-area: navi-bar;
    background-image: url(./assets/backgroundm-menu.png);
    background-repeat: no-repeat;
    background-color: #f9f9f9;

    justify-items: center;
}

.navi-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-top: 2rem;
    font-family: var(--body-font-family);
}

.logo {
    font-family: var(--font-family);
    color: var(--body-color);
    display: flex;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 900;
    text-decoration: none;
    color: white;
}

.logo span {
    margin-top: 7px;
    margin-left: 5px;
}

.logo img {
    height: 35px;
}

.navigation {
    background: linear-gradient(to right, var(--color-body-yellow), var(--color-body-orange));
    height: 3rem;
    width: 16.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid white;
}

.navigation a {
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding-inline: 2rem;
    border-radius: 10px;
    transition: .4s;
}

.navigation a:hover {
    background-color: #da7049;
}

.cadaster-btn a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--color-font-gray);
    border: 1px solid var(--color-font-gray);
    padding: .8rem;
    padding-inline: 1.6rem;
    border-radius: 30px;
    transition: .2s;
}

.cadaster-btn a:hover {
    background: var(--color-body-orange);
    color: white;
    border: 1px solid white;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    font-family: var(--font-family);
    font-size: 8rem;
}

.menu-container img {
    height: 81.6vh;
}

.menu-container p {
    text-align: end;
    color: var(--color-font-gray);
}

.menu-container span {
    color: #ffba52;
    font-weight: 900;
}

.span-patinha {
    color: var(--color-body-green) !important;
}

#about {
    display: flex;
    justify-content: center;
    grid-area: about;
    background: var(--color-body-green);
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.text {
    padding: 40px;
    border: 2px solid var(--color-body-orange);
    border-radius: 30px;
    margin-right: 60px;
}

.text h2 {
    color: var(--color-body-yellow);
    font-family: var(--font-family);
    font-size: 4rem;
}

.text p{
    font-family: var(--font-family);
    width: 650px;
    line-height: 1.7rem;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.image img{
    height: 615px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px #2d504f;
}

#footer {
    grid-area: footer;
    background: var(--body-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.brand {
    font-family: var(--font-family);
    color: var(--color-font-gray);
    font-size: 1.5rem;
}

.brand a {
    font-size: 3rem;
    text-decoration: none;
    color: var(--color-font-gray);
    font-weight: 900;
}

.social a {
    text-decoration: none;
}

.social img{
    height: 40px;
    text-decoration: none;
    margin-left: 50px;
}


@media screen and (max-width: 1280px) {
    #container-index {
        grid-template-rows: 670px 1200px 170px;
    }

    .navi-bar {
        background-size: 400px 700px;
    }
    
    .menu-container {
        font-size: 5.5rem;
    }
    
    .menu-container img {
        height: 60vh;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .text {
        margin-right: 0px;
    }
    
    .text h2 {
        font-size: 3rem;
    }
    
    .text p{
        width: 650px;
        line-height: 1.7rem;
        font-size: 1rem;
        margin-top: 2rem;
    }

    .image img{
        height: 530px;
    }
}

@media screen and (max-width: 960px) {
    #container-index {
        grid-template-rows: 47.4vh 960px 170px;
    }

    .logo a {
        font-size: 1.3rem;
    }
    
    .logo img {
        height: 25px;
    }

    .navi-bar {
        background-size: 300px 700px;
    }
    
    .navigation {
        height: 2.6rem;
        width: 11rem;
    }
    
    .navigation a {
        font-size: .9rem;
        padding-inline: .7rem;
    }

    .cadaster-btn a {
        font-size: .9rem;
        padding: .7rem;
        padding-inline: 1.4rem;
    }
    
    .menu-container {
        font-size: 4rem;
    }
    
    .menu-container img {
        height: 40vh;
    }

    .about-container {
        gap: 20px;
    }

    .text h2 {
        font-size: 2rem;
    }
    
    .text p{
        width: 520px;
        line-height: 1.4rem;
        font-size: .8rem;
        margin-top: 1rem;
    }

    .image img{
        height: 440px;
    }

    .footer-container {
        width: 90%;
    }

    .brand {
        font-size: 1.0rem;
    }
    
    .brand a {
        font-size: 2.2rem;
    }
    
    .social img{
        height: 35px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px)  {
    #container-index {
        grid-template-rows: 37vh 920px 170px;
    }

    .navi-container {
        width: 85%;
    }

    .logo a {
        font-size: 1.1rem;
    }
    
    .logo img {
        height: 20px;
    }

    .navi-bar {
        background-size: 250px 700px;
    }
    
    .navigation {
        height: 2.4rem;
        width: 9rem;
    }
    
    .navigation a {
        font-size: .7rem;
        padding-inline: .6rem;
    }

    .cadaster-btn a {
        font-size: .7rem;
        padding: .6rem;
        padding-inline: 1.2rem;
    }
    
    .menu-container {
        font-size: 2.5rem;
    }
    
    .menu-container img {
        height: 30vh;
    }

    .about-container {
        gap: 20px;
    }

    .text h2 {
        font-size: 2rem;
    }
    
    .text p{
        width: 340px;
        line-height: 1.4rem;
        font-size: .8rem;
    }

    .image img{
        height: 310px;
    }

}