@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: "Neue Montreal-Regular";
    src: url(./fonts/NeueMontreal-Regular.otf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --body-color: #f9f9f9;
    --font-family: "Josefin Sans", serif;
    --body-font-family: "Neue Montreal-Regular", serif;
    --color-font-gray: rgb(49, 49, 49);
    --color-body-green: #407775;
    --color-body-lightgreen: #6f7f6c;
    --color-body-orange: #ec6e40;
    --color-body-yellow: #ffba52;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-template-rows: 40px 150px 50px 1fr 170px;
    grid-template-areas: 
    "logo"
    "search-bar"
    "products-title"
    "products"
    "footer"
    ;
    height: 100vh;
}

.logo {
    grid-area: logo;
    display: flex;
    background: var(--color-body-green);
    justify-content: center;
    align-items: center;

    font-family: var(--font-family);
    color: var(--body-color);
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
    text-decoration: none;
    color: white;
}

.logo span {
    margin-top: 7px;
    margin-left: 5px;
}

.logo img {
    height: 25px;
}

#search-bar {
    grid-area: search-bar;
    background: rgb(223, 223, 223);

    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: none;
}   

input {
    padding: 20px;
    padding-left: 30px;
    width: 50%;
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
    font-family: var(--font-family);
}

.cart-btn a {
    padding: 20px;
    padding-inline: 40px;
    font-family: var(--body-font-family);
    text-decoration: none;
    color: white;
    background: var(--color-body-yellow);
    border-radius: 40px;
    font-size: 1.2rem;
    margin-left: 100px;
    border: 1px solid white;
    transition: .2s;
}

.cart-btn a:hover {
    background: #ec9c40;
}

#products-title {
    grid-area: products-title;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-body-green);
    color: white;
    font-family: var(--font-family);
}

#products-title h1 {
    margin-top: 5px;
}

#products {
    grid-area: products;
    background: var(--body-color);

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    margin: 10px;
    height: 480px;
    width: 280px;
    border-radius: 30px;
    font-family: var(--font-family);
    font-size: .8rem;
    background-color: var(--body-color);
    color: var(--color-font-gray);
    border: 1px solid var(--color-font-gray);
}

.image {
    display: flex;
    flex-direction: row;
}

.data {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.data p {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 900;
}

.product button {
    height: 3rem;
    width: 13.7rem;
    border-radius: 15px;
    border: none;
    background: #407775;
    color: white;
    font-family: var(--body-font-family);
    cursor: pointer;
    transition: .1s;
}

.product button:hover {
    background-color: #366361;
}

.product img {
    height: 200px;
}

#footer {
    grid-area: footer;
    background: var(--color-body-green);

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.brand {
    font-family: var(--font-family);
    font-size: 1.5rem;
}

.brand a {
    font-size: 3rem;
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.social a {
    text-decoration: none;
}

.social img{
    height: 40px;
    text-decoration: none;
    margin-left: 50px;
}

/* MODAL */

#fade, #modal {
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: var(--body-color);
    width: 500px;
    max-width: 90%;
    padding: 2rem;
    border-radius: 30px;

    font-family: var(--font-family);
    color: var(--color-font-gray);
    font-size: 1.1rem;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-font-gray);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.modal-header {
    color: var(--color-body-green);
}

#close {
    background: var(--color-body-green);
    border: none;
    padding: 1rem;
    padding-inline: 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: var(--body-font-family);
    cursor: pointer;
    margin-bottom: .5rem;
    color: white;
}

.modal-body-product {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}

#modal.hide, #fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}

@media screen and (max-width: 1280px) {
    .products-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-container {
        width: 90%;
    }

}

@media screen and (max-width: 960px) {
    .products-container {
        grid-template-rows: 420px;
    }
    
    .product {
        padding: 30px;
        margin: 10px;
        max-height: 400px;
        width: 230px;
        font-size: .6rem;
    }

    .product img {
        height: 140px;
    }
    
    .data p {
        margin-top: 10px;
        font-size: 1.2rem;
        font-weight: 900;
    }
    
    .product button {
        height: 3rem;
        width: 12rem;
    }
}

@media screen and (max-width: 768px) {
    .cart-btn a {
        margin-left: 20px;
    }

    .products-container {
        grid-template-columns: 1fr 1fr;
    }

    .products-container {
        grid-template-rows: 370px;
    }
    
    .product {
        padding: 20px;
        margin: 10px;
        max-height: 350px;
        width: 210px;
        font-size: .5rem;
    }

    .product img {
        height: 120px;
    }
    
    .data p {
        margin-top: 10px;
        font-size: 1rem;
        font-weight: 900;
    }
    
    .product button {
        height: 3rem;
        width: 10rem;
        font-size: .7rem;
    }

    .brand {
        font-size: 1rem;
    }

    .brand a {
        font-size: 2rem;
    }

    .footer-container {
        width: 100%;
    }

    .social img {
        margin-left: 20px;
    }
}
